/* Write your code here. */
.thumbnail {
  height: 5vw;
  width: 5vw;
  margin-right: 0.5vw;
  opacity: 0.5;
}

.customButton {
  background-color: transparent;
  border-style: none;
}

.opacity {
  opacity: 1;
}
